/**  RESET
----------------------*/
* {
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/*----------END RESET----------*/

body {
	padding: 50px;
	background-color: #222222;
	color: white;
}
header {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.title {
	width: 30%;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	float: left;
}
nav {
	float: left;
}
ul {
	margin: 0;
  	padding: 15px 4px 17px 0;
  	text-align: left;
  	display: inline;
  	list-style: none;
}
ul li {
	margin-right: -4px;
	padding: 15px 20px;
	font-size: 0.9em;
	font-weight: 100;
	color: gray;
	text-transform: capitalize;
  	display: inline-block;
  	position: relative;
  	cursor: pointer;
}
ul li:hover {
  	color: #fff;
}
ul li ul {
	width: 150px;
  	padding: 0;
  	box-shadow: none;
  	display: none;
  	opacity: 0;
  	visibility: hidden;
	position: absolute;
  	top: 48px;
  	left: 0;
}
ul li ul li {
	display: block;
  	background: #555;
  	color: #fff;
  	text-shadow: 0 -1px 0 #000;
  	position: relative; /*move the nav list up a bit, so it's no gap when hover*/
  	top: -10px;
}
ul li ul li:hover { 
	background: #666; 
}
ul li:hover ul {
  	display: block;
  	opacity: 1;
  	visibility: visible;
}
.wrapper {
	width: 95%;
	margin: 0 auto;
	background-color: white;
}
.box {
	width: 21.9%;
	margin: 15px;
	border: 1px solid gray;
	float: left;
}
.box img {
	width: 100%;
	height:100%;
}
.titleBox {
	padding: 15px;
	background-color: white;
	font-family: sans-serif;
	font-size: 0.8em;
	color: #444444;
}
/*-------------Modal/Pop up box---------------*/
.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.7);
  z-index: 3;
  display:none;
}
.modal {
  width: 350px;
  position: fixed;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:4;
  display:none;
  max-height:90%;
  overflow:auto;
  color: #222222;
  font-family: sans-serif;
  text-align: center;
  /*text-transform: uppercase;*/
  
}
.modal img { 
	height:80vh; 
}
#search {
	font-size: 0.9em;
	border-radius: 2px;
  	border: none;
  	padding: 5px;
}



.clear {
	clear: both;
}
