
/**  RESET
----------------------*/
* {
	margin:0;
	padding:0;
}
body {
	padding: 50px;
	background-color: #ffffff;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Raleway', Arial, sans-serif;
	color: #757575;
	margin: 0px;
}
.page {
	min-height: 100vh;
	position: relative;
}
#page1 {
	background-color: pink;
	background-image: url("assets/shark.jpg");
}
#page2 {
	background-color: lightblue;
}
#page3 {
	background-color: lightgreen;
	background-image: url("assets/shark_02.jpg");
}
#page4 {
	background-color: lightyellow;
}
.title {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-110%, -50%);
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	opacity: 0;
}
.parallax-image {
	background-size:cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	width:100%;
	height:100vh;
}
.text-block {
	position:relative;
	width:480px;
	font-size:15px;
	padding:70px;
	text-align: justify;
	line-height:1.5em;;
}
.text-block-arrived {
	transform: translate(0,0);
}
.quote {
	position:relative;
	width:80%;
	font-size:75px;
	color: white;
	font-weight: bold;
	padding:70px;
	margin:0 auto;
	line-height:1.5em;
	text-align: center;
	opacity: 0;
}
.arrived {
	transition: 5s ease;
	opacity: 1;
}



