
/**  RESET
----------------------*/
* {
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/** END RESET
----------------------*/

body {
	padding: 50px;
	background-color: #ffffff;
	font-family: 'Raleway';
	color: #757575;
	margin: 0px;
}
h1 {
	font-size: 7em; /*1.5em*/
	font-weight: 400;
	letter-spacing: 10px;
}
h2 {
	margin-top: 10px;
	letter-spacing: 10px;
	text-align: center;
}
h3 {
	font-size: 2.5em;
	font-weight: 100;
	line-height: 1.2em;
}
h6 {
	margin-top: 30px;
	font-size: 0.3em;
	font-style: italic;
	font-weight: 100;
	text-align: right;
}
.page {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
#underwater {
	top:0;
	left:0;
	width: 150%;
	height: 150%;
	position: absolute;
}
#mickfightsshark {
	
}
#page1 {
	height: 100vh;
	overflow: hidden;
}
#page2 {
	background-color: none;
}
#page3 {
	background-color: #2CC0C4; /*blue*/ /*#f26c4f orange* #42c9ae green*/
}
#page4 {
	background-color: ;
}
#page5 {
	background-color: ;
}
#page6 {
	/*width: 50%;*/
	padding: 30px;
	background-color: #f26c4f; /*orange*/
}
#page6 h3 {
	color: white;
	font-weight: 100;
}
#page7 {
	background-color: none;
}
#page11 {
	background-color: #333;
}
#page11 p {
	color: #ace7e8; /*light-blue*/
	font-weight: 100;
	font-size: 1em;
	line-height: 1.5em;
}
.title {
	color: white;
	text-transform: uppercase;
	opacity: 0;
	position:absolute;
	left:16%;
	top: 40%;
	/*transform: translate(-80%, -80%);*/
}
.parallax-image {
	background-size:cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	width:100%;
	height:100vh;
}


.quote {
	width:80%;
	margin:0 auto;
	padding:140px;
	font-size:75px;
	color: black;
	font-weight: bold;
	opacity: 0;
	position:relative;
}
.arrived {
	transition: 5s ease;
	opacity: 1;
}


.text-block-1 {
	width: 480px;
	padding: 70px;
	font-size: 15px;
	line-height: 1.5em;
	opacity: 0;
	position: relative;
	transform: translate(-20%,0);
}
.text-block-2 {
	width: 480px;
	padding: 70px;
	font-size: 15px;
	line-height: 1.5em;
	opacity: 0;
	position: relative;
	transform: translate(-30%,0);
}
.text-block-3 {
	width: 480px;
	padding: 70px;
	font-size: 15px;
	line-height: 1.5em;
	opacity: 0;
	position: relative;
	left: 550px;
	transform: translate(30%,0);
}
.text-block-4 {
	width: 70%;
	padding: 140px;
	position: relative;
	top: 60px;
	opacity: 0;
	transform: translate(0,30%);
}
.text-block-5 {
	width: 50%;
	margin: 0 auto;
	padding: 140px;
	opacity: 1;
	transform: translate(0,-30%);
}
.text-block-arriving {
	transition: 2s ease;
	opacity: 1;
	transform: translate(0,0);
}
.text-block-departing {
	transition: 1s ease;
	opacity: 0;
	transform: translate(0,0);
}
.text-block-rearriving {
	transition: 1s ease;
	opacity: 1;
	transform: translate(0,0);
}
/*.text-block-redeparting {
	transition: 3s ease;
	opacity: 0;
	transform: translate(0,0);
}*/







@-webkit-keyframes road-move {
  0% { -webkit-transform: translate(0,0); }
  100% { -webkit-transform: translate(400px, 0); }
}
.road {
	width: 100px;
	height: 10px;
	background-color: gray;
	position: absolute;
	top: 20px;
	left: 0;
	-webkit-animation:road-move 3s linear infinite;
}








.map {
	position: absolute;
	transform: translate(40%,20%);
}
.map img {
	width: 70%;
	height: 0%;
}
.map-enlarge {
	transform: scale(3,3);
}







